.container {
  max-inline-size: 400px;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
  text-align: center;

  & h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  & hr {
    margin: 2rem 0;
    block-size: 4px;
    background-color: #fff;
  }

  & form {
    margin-block-end: 5rem;

    & input {
      box-sizing: border-box;
      border: 1px solid rgb(122, 122, 122);
      padding: 1rem;
      min-inline-size: 300px;
      margin: 0.2rem 0;
      outline: none;

      &:focus {
        border: 2px solid dodgerblue;
      }
    }

    & button[type="submit"] {
      margin-block-start: 1.5rem;
      border: none;
      background-color: dodgerblue;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      inline-size: 100%;
    }
  }
}
